extends layout

block content
  .hero
    .hero__background 
      img(src="/images/background.jpg", alt="Background")
    .hero__content.reveal
      p.intro-text Error 404
      h1.big-text PAGE NOT FOUND
      a.button(href='/') Torna alla Home
