extends layout

block link
    link(rel="stylesheet", href="/stylesheets/musica.css")

block content
    .hero
        .hero__background 
            img(src="/images/background.jpg", alt="Background")
        .hero__content.reveal
            p.intro-text.mt-2 96 STUDIO
            h1.big-text Musica
            a.button(href='#presentazione') Scopri di più

    #presentazione.music_layout
        for position in size 
            for music in musics
                if position === music.position
                    .music_song
                        h3.tw= music.titolo
                        a(href="/musica/category?category="+music.category)
                            p= music.category
                        h5.tw= music.artista
                        audio(controls='' loop='')
                            source(src=music.url type='audio/mpeg')