/*====================
General
====================*/
@font-face {
  src: url("Avenir.ttc");
  font-family: "Avenir";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  background: black;
}

.button {
  padding: 18px 28px;
  background: #660000;
  /* ! Bordeaux color  */
  color: #fff;
  display: inline-block;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.category-text {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.big-text {
  font-size: 70px;
  font-weight: 900;
}

.mid-text {
  font-size: 40px;
}

.normal-text {
  font-size: 20px;
}

.small-text {
  font-size: 14px;
}

.intro-text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

#smartphone {
  display: none;
}

#presentazione {
  padding-top: 80px;
}

@media (max-width: 768px) {
  .big-text {
    font-size: 30px;
  }

  .mid-text {
    font-size: 20px;
  }

  .intro-text {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  #smartphone {
    display: block;
  }

  #last-work {
    display: none;
  }

  #no-smartphone {
    display: none;
  }
}

/*====================
  Header
  ====================*/
.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 0 25px;
  transition: 0.3s;
}

.header_logo a {
  display: block;
}

.header_logo a img {
  display: block;
  width: 80px;
  height: 80px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.header_menu li {
  list-style: none;
}

.header_menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 40px 25px;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}

.header_menu li a:hover {
  box-shadow: 0 -5px 0px #660000 inset;
  padding: 35px 25px 45px 25px;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: white;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;
  width: 20px;
}

.hamburger:after {
  top: 10px;
  width: 25px;
}

.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-menu {
  display: none;
}

.header_nav input:checked ~ .hamburger {
  background: transparent;
}

.header_nav input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.header_nav input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.header_nav input:checked ~ .header_menu {
  right: 0;
  box-shadow: -20px 0 40px black;
}

/*====================
Footer
====================*/
footer {
  position: relative;
  padding: 30px;
  background: #383837;
  align-items: center;
  text-align: center;
  width: 100%;
}

footer h3 {
  margin-top: 15px;
  font-style: normal;
}

.footer_logos {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  display: inline-block;
  align-items: center;
}

.footer_logos a img {
  width: auto;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  /*====================
    Header
    ====================*/
  .header {
    padding: 10px 10px;
  }

  .header_logo a img {
    width: 50px;
    height: 50px;
  }

  .hamburger,
  .toggle-menu {
    display: block;
  }

  .header_menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 70px;
    right: -100%;
    background: black;
    width: 100%;
    height: auto;
    padding-top: 0;
  }

  .header_menu li {
    text-align: center;
    width: 100%;
  }

  .header_menu li a {
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  }
}

/*====================
Hero
====================*/
.hero {
  position: relative;
  height: 90vh;
  display: flex;
  padding-top: 100px;
  width: 100%;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  background-size: cover;
  overflow: hidden;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  background: #000;
}

.hero__content {
  z-index: 1;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  align-items: center;
  text-align: center;
}
.hero__content h1,
.hero__content p {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}
.hero__background {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  left: 0;
  overflow: hidden;
}
.hero__background img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  /*====================
  Hero
  ====================*/
  .hero {
    padding-top: 150px;
    flex-wrap: wrap;
    height: auto;
  }
  .hero__content {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  .hero__content h1 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .hero__content p {
    margin-top: 20px;
    font-size: 14px;
  }
  .hero__background {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    left: 0;
  }
}


/* ! Helpers */
.mt-1 {
  margin-top: 50px;
}

.mt-2 {
  margin-top: 100px;
}

.mt-3 {
  margin-top: 150px;
}

.ml {
  margin-left: 20px;
}

.tw {
  color: white;
}

@media (max-width: 768px) {
  .mt-sma-0 {
    margin-top: 0;
  }

  .mb-sma-0 {
    margin-bottom: 0;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
